.container {
  padding: 60px 10%;

  :global(.semi-input-textarea-readonly) {
    color: var(--semi-color-text-0);
  }
}

.banner {
  margin-bottom: 16px;
  word-break: break-all;

  &:global(.semi-banner .semi-banner-content-wrapper .semi-banner-content) {
    flex: unset;
  }
}
